# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - uses: actions/upload-artifact@v1
      with:
        name: ${{ runner.os }}-test-reports
        path: build/reports
      if: always()
    - name: Run integration tests
      run: |
        dir=~/.java/.userPrefs/jetbrains/_\!\(\!\!cg\"p\!\(\}\!\}@\"j\!\(k\!\|w\"w\!\'8\!b\!\"p\!\':\!e@=\=
        mkdir -p "$dir"
        cp .github/workflows/prefs.xml $dir
        mkdir -p ~/.local/share/JetBrains/consentOptions
        cp .github/workflows/accepted ~/.local/share/JetBrains/consentOptions
        export DISPLAY=:99.0
        Xvfb -ac :99 -screen 0 1920x1080x16 &
        ./gradlew runIdeForUiTests -PideaVersion=2020.2 &
        ./gradlew integrationTest
    - uses: actions/upload-artifact@v1
      with:
        name: ${{ runner.os }}-integration-test-reports
        path: build/reports/tests/integrationTest
      if: always()
    - name: Archiving screenshots
      uses: actions/upload-artifact@v2
      with: 
        name: ${{ runner.os }}-screenshots
        path: |
          build/screenshots/*

  build-macos:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - uses: actions/upload-artifact@v1
      with:
        name: ${{ runner.os }}-test-reports
        path: build/reports
      if: success() || failure()
    - name: Run integration tests
      run: |
        mkdir -p ~/Library/Application\ Support/JetBrains/consentOptions
        cp .github/workflows/accepted ~/Library/Application\ Support/JetBrains/consentOptions
        cp .github/workflows/com.apple.java.util.prefs.plist ~/Library/Preferences
        killall cfprefsd
        sudo spctl --master-disable
        sudo ./gradlew runIdeForUiTests -PideaVersion=IC-2020.2 &
        sudo ./gradlew integrationTest
    - uses: actions/upload-artifact@v1
      with:
        name: ${{ runner.os }}-integration-test-reports
        path: build/reports/tests/integrationTest
      if: always()
    - name: Archiving screenshots
      uses: actions/upload-artifact@v2
      with: 
        name: ${{ runner.os }}-screenshots
        path: |
          build/screenshots/*

  build-windows:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - uses: actions/upload-artifact@v1
      with:
        name: ${{ runner.os }}-test-reports
        path: build/reports
      if: success() || failure()

