# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle
on:
  # Trigger the workflow on pushes to only the 'main' branch (this avoids duplicate checks being run e.g., for dependabot pull requests)
  push:
    branches: [ main ]
  # Trigger the workflow on any pull request
  pull_request:

jobs:
  # Run tests and upload a code coverage report
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    steps:

      # Check out current repository
      - name: Fetch Sources
        uses: actions/checkout@v5

      # Set up Java environment for the next steps
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'

      # Setup Gradle
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5

      # Run tests
      - name: Show resolved dependencies
        run: ./gradlew dependencyInsight --dependency com.redhat.qute.ls --configuration compileClasspath

      - name: Run Tests
        run: ./gradlew check --refresh-dependencies

      # Collect Tests Result
      - name: Collect Tests Result
        if: ${{ success() || failure()}}
        uses: actions/upload-artifact@v4
        with:
          name: tests-result-${{runner.os}}
          path: ${{ github.workspace }}/build/reports/tests
