# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Verify Quarkus updates

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ssh-key: ${{ secrets.DEVSTUDIO_RELEASE }}
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Update source tree
      run: |
        last_quarkus_version=`curl -s https://repo1.maven.org/maven2/io/quarkus/quarkus-core/maven-metadata.xml | grep '<release>' | head -1 | sed -e "s#.*<release>\(.\+\)</release>.*#\1#"`
        echo "version=$last_quarkus_version"
        plugin_quarkus_version=`grep 'artifact ' src/main/resources/quarkus.xml | head -1 | sed -e "s#.*version=\"\(.\+\)\" .*#\1#"`
        echo "version=$plugin_quarkus_version"
        if [ $last_quarkus_version != $plugin_quarkus_version ]; then
          echo "Versions differ"
          branch_name="switch_${plugin_quarkus_version}_${last_quarkus_version}"
          echo "before git branch"
          git branch
          branch_exists=`git branch | grep ${branch_name}`
          echo "after git branch"
          if [ "${branch_name}" != "${branch_exists}" ]; then
            git checkout -b "${branch_name}"
            git config user.email devstudio-release@redhat.com
            git config user.name "devstudio-release Bot"
            find . -path ./.git -prune -false -o -type f -exec sed -i '' -e "s/$plugin_quarkus_version/$last_quarkus_version/g" {} \;
            git add -A
            git commit -m "Switch Quarkus runtime to $last_quarkus_version"
            git push origin "${branch_name}:${branch_name}"
          fi
        fi


